<!DOCTYPE html>
<html>
<head>
	<title>OneCover</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style>
		.loader {
			margin-top: 150px;
	  		border: 16px solid #f3f3f3;
		  	border-radius: 50%;
		  	border-top: 16px solid #3498db;
	  		width: 120px;
		  	height: 120px;
		  	-webkit-animation: spin 2s linear infinite; /* Safari */
  			animation: spin 2s linear infinite;
		}

		@-webkit-keyframes spin {
  			0% { -webkit-transform: rotate(0deg); }
  			100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
  			0% { transform: rotate(0deg); }
  			100% { transform: rotate(360deg); }
		}
		.header {
			background: #005db1;
		}
	</style>
	<script type="text/javascript">
//		window.onload=function(){ 
    		//window.setTimeout(function() { document.forms.payment_modal_form.submit(); }, 2000);
//		};
        $.ajax({
                type: "GET",
                url: "",
                success: function (response) {
                    $('#Email').val(response.email)
                    $('#PhoneNo').val(response.phone_no)
                    $('#SourceCode').val(response.source_code)
                    $('#OrderAmount').val(response.premium)
                    $('#secSignature').val(response.secSignature)
                    $('#ReturnURL').val(response.return_url)
                    $('#QuoteId').val(response.quote_id)
                    $('#GrossPremium').val(response.premium)
                    $('#FinalPremium').val(response.premium)
                    $('#SourceTxnId').val(response.source_txn_id)
                 	$('#payment_modal_form').submit()
                }
            })
	</script>
</head>
<body>
	<div class="col-sm-12 header">
		<img src="/static/img/favicon.png" style="height: 50px;">
	</div>
	<div class="col-sm-12">
		<center>
			<div class="loader"></div>
			<br>
			<p style="color: #005db1">Please wait while we take you to payment page....</p>
		</center>
		<form autocomplete="off" id="payment_modal_form" name="payment_modal_form" accept-charset="utf-8" method="post" action="https://pg-abhi.adityabirlahealth.com/ABHIPGIntegration/ABHISourceLanding.aspx" target="_self">
			<div id="payment_modal_success_error"></div>
			<div class="input-group">
				<input type="hidden" name="Email" id="Email" value="{{email}}">
				<input type="hidden" name="PhoneNo" id="PhoneNo" value="{{phone_no}}">
				<input type="hidden" name="SourceCode" id="SourceCode" value="{{source_code}}">
				<input type="hidden" name="OrderAmount" id="OrderAmount" value="{{premium}}">
				<input type="hidden" name="Currency" id="Currency" value="INR">
				<input type="hidden" name="secSignature" id="secSignature" value="{{secSignature}}">
				<input type="hidden" name="ReturnURL" id="ReturnURL" value="{{return_url}}">
				<input type="hidden" name="QuoteId" id="QuoteId" value="20190520421970094601"> <input type="hidden" name="SubCode" id="SubCode" value="">
				<input type="hidden" name="GrossPremium" id="GrossPremium" value="{{premium}}">
				<input type="hidden" name="FinalPremium" id="FinalPremium" value="7938">
				<input type="hidden" name="SourceTxnId" id="SourceTxnId" value="{{source_txn_id}}">
				<button type="submit" name="submit_modal_payment" id="submit_modal_payment" class="btn-u btn-u-orange" style="display: none;"> <i class="ace-icon fa fa-lightbulb-o bigger-110"></i> Make Payment </button>
			</div>
		</form>
	</div>
</body>
</html>